@import "tailwindcss";

@theme {
  --color-bg-primary: #FFFFFF;
  --color-bg-secondary: #7C56DC;
  --color-button-hover: rgba(139,92,246,0.30);
  --color-paragraph: #737373;
  --color-heading: #232323;
  --color-theme: #8B5CF6;
  --color-error: #e24b4a;
  --color-success: #12a366;
  --color-warning: #f0a02d;
  --color-info: #4f7df0;
  --font-primary-font: var(--font-inter), sans-serif;
}

@layer components {
  .paragraph-text {
    @apply text-paragraph font-primary-font text-sm 
  }

  .footer-submenu-headings {
    @apply text-paragraph font-primary-font font-normal text-sm; 

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  .page-heading {
    @apply text-heading text-[45px] font-primary-font font-bold leading-none 
  }

  .page-subheading {
    @apply text-heading text-[20px] font-primary-font leading-none 
  }

  .hero-heading {
    @apply text-heading text-[70px] font-primary-font font-bold leading-none
  }

  .hero-subheading {
    @apply text-heading text-[45px] font-primary-font font-bold 
  }

  .call-to-action-button-primary {
    @apply p-4 bg-theme rounded-md text-sm text-white font-primary-font;

    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }
  }

  .call-to-action-button-secondary {
    @apply p-4 text-xs text-black font-primary-font underline;

    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }

}


